
<ul>
	  <li><a class="active" href="/">HOME</a></li>
	  <li><a href="/bikes">bikes</a></li>
	  <li><a href="/jobs">jobs</a></li>
	  <li><a href="/users">users</a></li>

	  <% if !@current_user %>
	  	<li><%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %></li>
	  <% end %>
</ul>
