
<ul>
	  <li><a class="active" href="/">HOME</a></li>
	  <li><a href="/about">how it works</a></li>
	  <li><a href="/valet">pricing</a></li>
	  <li><a href="/mybikes">membership perks</a></li>
	  <li><a href="/whereto">where to</a></li>
	  <% if !@current_user %>
	  	<li><%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %></li>
	  <% end %>
</ul>
