<!-- home landing page -->
<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Blitz</h1>

          <p class="intro-text">A way to get your bike anytime, anywhere.</p>
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= link_to new_job_path do %>
        <i class="fa fa-bicycle fa-5x" aria-hidden="true"></i>
     </span>
  <% end %>

        <h2>About Blitz</h2>
        <p>Blitz is a service that gets your bike to you wherever you are, and when you aren't riding it, it's always in a safe place.
    </a>Here's how it works</p>
        <p>Just signup and
          <a href="http://googlemaps.com/">choose a pickup location</a>
          then we'll come get your bike and redeliver it to wherever you need it at any given time, rain or shine.

    </div>
  </div>
</section>

<!-- Download Section -->
<section id="download" class="download-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Love Riding Bikes? Come work for us!</h2>
      <p>Become one of our valets and ride bikes to make cash!</p>
      <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Sign up on our Valet Page</a>
    </div>
  </div>
</section>



<!-- Map Section -->
<div id="map" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;" class="gm-style"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;" tabindex="0"><div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;" aria-hidden="true"></div>
<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Us</h2>
        <p>Feel free to leave us a comment on the
          <a href="http://startbootstrap.com/template-overviews/grayscale/">Blitz comment page</a>
        to give some feedback about our service!</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
              <i class="fa fa-google-plus fa-fw"></i>
              <span class="network-name">SnapChat</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright © lisa/don/john 2017</p>
  </div>
</footer>
