<!-- home landing page -->

<div class="section_heading">
<section id="home_style">



<h1 class="section-heading" style="color:purple;font-size:300%;font-family:'Francois One',sans-serif">Blitz</h1>

</div>


<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">
