<!-- Home Landing Page -->
<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
      <h1 class="brand-heading">Blitz</h1>
      <p style="font-size:200%">A way to get your bike anytime, anywhere.</p>
        </div>
      </div>
    </div>
  </div>
  </header>
<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= link_to new_job_path do %>
        <i class="fa fa-bicycle" style="font-size:225px"></i>

     </span>
  <% end %>
<h1>About Blitz</h1>
<br>
  <p style= "font-size:180%;font-family:'Francois One',sans-serif; color:black; ">Blitz is a service that gets your bike to you wherever you are, and wherever you want it to be.<br><br> And when you aren't riding it, it's always in a safe place.</p> <p style= "font-size:200%;
              font-family: 'Francois One', sans-serif;"><br><br>Here's how it works.</p><br><p style= "font-size:175%;
                 font-family: 'Francois One', sans-serif; color:black; ">Just signup and choose a pickup location then we'll come get your bike and redeliver it to wherever you need it<br><br> at any given time, rain or shine.</p>
  <%= button_to 'NEW TRIP', new_job_path, :method => :get, :class => 'newJobButton' %>
  </div>
  </div>
</section>
<!-- Valet SignUp Section -->
<section id="download" class="download-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <p style="font-size:300%">Love Riding Bikes? Come work for us!</p>
      <br>
      <p  style= "font-size:175%">Become one of our valets and ride bikes to make cash!</p>
      <%= button_to 'VALET SIGN UP', valet_sign_up_path, :method => :get, :class => 'newJobButton' %>
      <br>
    </div>
  </div>
  </section>
<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Contact Us</h1>
        <p style= "font-size: 150%">Feel free to leave us a comment below to give some feedback about our service!</p>
      <form action="https://formspree.io/lisamae135b7@me.com"
      method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Your Email:</label>
        <input type="email" name="_replyto">
        <label>Your Comment:</label>
        <input type="text" name="message">
        <input type="submit" value="Send">
      </form>
<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright © 2017</p>
  </div>
</footer>
