<header class="masthead">
<div class="intro-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Create New Bike</h1>
      </div>
    </div>
  </div>
</div>
</header>


<%= render 'form', bike: @bike %>
